
.header{
  background: lightblue;
  padding: 10px;
}

.btn{
  padding: 5px;
}

.menu{
  overflow: hidden;
  box-sizing: border-box;
  
  opacity: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  padding: 20px 0px;
  transition: all 0.5s ease;
}
.menu::before{
  box-sizing: border-box;
  content: '';
  position: absolute;
  z-index: -2;
  left: -75%;
  top: -75%;
  width: 250%;
  height: 250%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
		animation: rotate 4s linear infinite;
	}
  .menu::after {
    box-sizing: border-box;
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
  }

.menu p{
  margin: 10px;
}

.active{
  opacity: 1;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
